.header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: calc(100% - #{$sidebar-width});
    background-color: $black;
    box-shadow: 0 5px 22px rgba(0, 0, 0, .25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__item {
    position: relative;

        &:hover {
            .header__link {
                background-color: #3137C9;
            }

        > .subnav {
            display: block;
        }
    }
}

.header__link {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    padding: 12px 15px;
    transition: background-color .3s linear;

    &.has-subnav {
        position: relative;
        padding-right: 25px;
        &::after {
            content: "";
            border-width: 6px 5px 0 5px;
	        border-color: $white transparent transparent transparent;
	        border-style: solid;
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
            margin-top: -1px;
        }
    }
}

.header__user-profile {
    display: flex;
    align-items: center;
}
.header__user-list {
    display: flex;
    align-items: center;
}

.header__user-link {
    display: block;
}

.header__form {
    max-width: 210px;
    width: 100%;
    background-color: $grey;
}

.header__search-input {
    display: block;
    padding: 12px 20px;
    background: transparent;
    border: none;
    font-family: inherit;
    color: $white;

    &::placeholder {
    font-size: 12px;
    line-height: 14px;
    opacity: .4;
    }
}